<h2 class="text-2xl text-gray-600">Instruments</h2>
<div class="mt-8 px-4 py-1 bg-gray-100 flex gap-4">
  <span class="w-2/6 text-xl font-semibold text-gray-600">Name</span>
  <span class="w-3/6 text-xl font-semibold text-gray-600">Description</span>
  <span class="w-1/6 text-xl font-semibold text-gray-600">Actions</span>
</div>
<div class="px-4 py-1 flex gap-4">
  <span class="w-2/6 text-xl text-gray-600">Dmart</span>
  <span class="w-3/6 text-xl text-gray-600">Lorem ipsum dolor sit amet.</span>
  <span class="w-1/6 text-xl text-gray-600">edit | delete</span>
</div>
<div class="px-4 py-1 flex gap-4">
  <span class="w-2/6 text-xl text-gray-600">Dmart</span>
  <span class="w-3/6 text-xl text-gray-600"
    >dolor sit amet consectetur adipisicing.</span
  >
  <span class="w-1/6 text-xl text-gray-600">edit | delete</span>
</div>
<div class="px-4 py-1 flex gap-4">
  <span class="w-2/6 text-xl text-gray-600">Dmart</span>
  <span class="w-3/6 text-xl text-gray-600 truncate"
    >Libero vitae mollitia eligendi nemo officia inventore. Lorem ipsum dolor
    sit amet.</span
  >
  <span class="w-1/6 text-xl text-gray-600">edit | delete</span>
</div>
