<h3 class="text-xl font-semibold">Add Trade</h3>
<form class="flex flex-col gap-4 mt-4">
  <div class="flex flex-col">
    <label for="instrument">Instrument</label>
    <input
      id="instrument"
      type="text"
      name="instrument"
      placeholder="Enter Instrument"
      required
    />
  </div>
  <div class="flex flex-col">
    <label for="strike-price">Price</label>
    <input
      id="strike-price"
      type="number"
      name="price"
      placeholder="Enter Price"
      required
    />
  </div>
  <div class="flex flex-col">
    <label for="strike-price">Quantity</label>
    <input
      id="quantity"
      type="number"
      name="quantity"
      placeholder="Enter Quantity"
      required
    />
  </div>
  <div class="flex flex-col">
    <label for="expiry-date">Transaction Date</label>
    <input
      id="expiry-date"
      type="date"
      name="expiry-date"
      placeholder="Enter Expiry Date"
      required
    />
  </div>
  <div class="flex flex-col">
    <label for="note">Note (optional)</label>
    <textarea id="note" name="note" placeholder="Enter Note"></textarea>
  </div>
  <div class="flex gap-4 mb-4">
    <button
      type="button"
      class="px-8 py-2 bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded-sm tracking-wide"
    >
      Buy
    </button>
    <button
      type="button"
      class="px-8 py-2 bg-red-500 hover:bg-red-700 text-white font-semibold rounded-sm tracking-wide"
    >
      Sell
    </button>
  </div>
</form>
