<h3 class="text-xl font-semibold">Add Instrument</h3>
<form class="flex flex-col gap-4 mt-4">
  <div class="flex flex-col">
    <label for="instrument">Instrument Name</label>
    <input
      id="instrument-name"
      type="text"
      name="instrument-name"
      placeholder="Enter Instrument Name"
      autofocus
      required
    />
  </div>
  <div class="flex flex-col">
    <label for="strike-price">Symbol</label>
    <input id="symbol" type="text" name="symbol" placeholder="Enter Symbol" />
  </div>
  <div class="flex flex-col">
    <label for="description">Description</label>
    <textarea
      id="description"
      name="description"
      placeholder="Enter Description"
    ></textarea>
  </div>
  <div class="flex gap-4 mb-4">
    <button
      type="button"
      class="px-8 py-2 bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded-sm tracking-wide"
    >
      Save
    </button>
  </div>
</form>
