<header class="flex justify-between items-center py-4">
  <div class="flex">
    <img
      class="w-12 h-12 mr-4 rounded-lg"
      src="assets/logo.jpg"
      alt="Trades Logo"
    />
    <h1 class="text-4xl text-white">Trades</h1>
  </div>
  <nav class="flex gap-1">
    <a
      class="text-xl px-4 py-1 rounded-sm text-gray-200"
      routerLink="/dashboard"
      [routerLinkActive]="'bg-gray-100 text-gray-500'"
      #rla="routerLinkActive"
      [ngClass]="{ 'hover:text-gray-100': !rla.isActive }"
      >Dashboard</a
    >
    <a
      class="text-xl px-4 py-1 rounded-sm text-gray-200"
      routerLink="/stocks"
      [routerLinkActive]="'bg-gray-100 text-gray-500'"
      #rla2="routerLinkActive"
      [ngClass]="{ 'hover:text-gray-100': !rla2.isActive }"
      >Stock</a
    >
    <a
      class="text-xl px-4 py-1 rounded-sm text-gray-200"
      routerLink="/futures"
      [routerLinkActive]="'bg-gray-100 text-gray-500'"
      #rla3="routerLinkActive"
      [ngClass]="{ 'hover:text-gray-100': !rla3.isActive }"
      >Future</a
    >
    <a
      class="text-xl px-4 py-1 rounded-sm text-gray-200"
      routerLink="/options"
      [routerLinkActive]="'bg-gray-100 text-gray-500'"
      #rla4="routerLinkActive"
      [ngClass]="{ 'hover:text-gray-100': !rla4.isActive }"
      >Options</a
    >
    <a
      class="text-xl px-4 py-1 rounded-sm text-gray-200"
      routerLink="/instruments"
      [routerLinkActive]="'bg-gray-100 text-gray-500'"
      #rla5="routerLinkActive"
      [ngClass]="{ 'hover:text-gray-100': !rla5.isActive }"
      >Instruments</a
    >
  </nav>
</header>
